$bg_gray: #ededed;

%section-padding {
    padding: 100px 20%;

    @media (max-width: 1280px) {
        padding: 80px 10%;
    }

    @media (max-width: 768px) {
        padding: 80px 5%;
    }
}

%section-width {
    width: 960px;

    @media (max-width: 768px) {
        width: auto;
    }
}

.fd-in {
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

.fd-done {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

html,body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #2B2B2B;
    h3 {
            font-size: 24px;
            color: #333;
    }
}

body {
    .noscroll {
        overflow: hidden;
    }
}

section {
    overflow: hidden;
    transition: .8s;
}

.section {
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        display: inline-block;
        padding: 0 0 25px;
        margin: 0 0 30px;
        color: #333;

        &--description {
            font-size: 16px;
            text-align: center;
            margin: 0 0 40px;
        }
    }
}

.hero {
    @extend %section-padding;

    width: 100%;
    height: 700px;
    background-image: url(/assets/img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        @extend %section-width;
        
        display: flex;
        justify-content: space-between;
        color: #fff;
        height: 64px;
        margin: 0 auto 100px;
    }

    &__left {
        font-size: 36px;
    }

    &__right {
        .hero__nav {
            display: none;
            width: 100vw;
            height: 700px;
            position: fixed;
            background: #000000bd;
            top: 0;
            left: 0;
            z-index: 2;

            &__list {
                width: 100%;
                height: 100%;
                display: block;
                list-style-type: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            &__item a {
                color: #fff;
                font-size: 24px;
                text-decoration: none;
                margin-right: 0;
                margin-bottom: 40px;
                letter-spacing: 2px;
                line-height: 64px;
                border-bottom: 2px dotted #fff;
            }
        }

        .hamburger {
            display: inline-block;
            width: 50px;
            height: 50px;
            position: relative;
            cursor: pointer;
            z-index: 3;
            transition: all .5s;

            span {
                width: 70%;
                height: 1px;
                display: block;
                position: absolute;
                left: 0;
                transform: translateX(-50%);
                background-color: #fff;
                transition: all .5s;
                
                &:nth-child(1) {
                    top: 15px;
                }
                &:nth-child(2) {
                    top: 25px;
                }
                &:nth-child(3) {
                    top: 35px;
                }
            }
        }
        .close {
            transform: rotate(360deg);
            span {
                &:nth-of-type(1) {
                    transform: translateY(20px) rotate(-45deg);
                }
                &:nth-of-type(2) {
                    transform: translateY(10px) rotate(45deg);
                }
                &:nth-of-type(3) {
                    opacity: 0;
                }
            }
        }
    }

    &__heading {
        text-align: center;

        h1 {
            font-size: 120px;
            color: #fff;
        }

        p {
            font-size: 16px;
            text-align: center;
            color: #fff;
            display: inline-block;
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 15px;
                height: 1px;
                background: #fff;
                position: absolute;
                top: 12px;
                left: -30px;
            }
            &::after {
                content: "";
                display: block;
                width: 15px;
                height: 1px;
                background: #fff;
                position: absolute;
                top: 12px;
                right: -30px;
            }
        }

    }
}

.concept {
    @extend %section-padding;
    text-align: center;
    position: relative;
    z-index: 100;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 240px;
        background: #ededed;
        padding: 0 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    h2 {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            background: #999;
            bottom: 0;
            right: 55px;
        }
    }
    img {
        @extend %section-width;
        height: 400px;
        position: relative;
        z-index: 99;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.work {
    @extend %section-padding;
    text-align: center;

    h2 {
        position: relative;
        
        &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            background: #999;
            bottom: 0;
            right: 25px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
        
        .work__item {
            padding-bottom: 80px;
            text-align: left;
            line-height: 1.8;

            &:nth-of-type(2) {
                margin-top: 120px;
            }
            &:nth-of-type(3) {
                margin-top: -300px;
            }
            &:nth-of-type(4) {
                margin-top: 35px;
            }

            img {
                width: 420px;
                height: auto;
            }

            p {
                width: 420px;
                height: auto;
            }

            @media (max-width: 768px) {
                &:nth-of-type(2) {
                    margin-top: 0;
                }
                &:nth-of-type(3) {
                    margin-top: 0;
                }
                &:nth-of-type(4) {
                    margin-top: 0;
                }
            }
        }
    }
}

.florist {
    @extend %section-padding;
    text-align: center;
    position: relative;

    h2 {
        position: relative;
        z-index: 100;
        
        &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            background: #999;
            bottom: 0;
            right: 35px;
        }
    }

    p {
        position: relative;
        z-index: 100;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 375px;
        background: #ededed;
        padding: 0 0;
        left: 0;
        top: 0;
        z-index: 1;
    }

    &__list {
        @extend %section-width;

        display: flex;
        list-style-type: none;
        margin: 0 auto;
        position: relative;
        z-index: 100;
        text-align: left;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__item {
        margin-right: 35px;
        img {
            width: 300px;
            height: auto;
        }

        p {
            width: 300px;
        }

        @media (max-width: 768px) {
            text-align: center;

            p {
                width: 300px;
                margin: 0 auto 50px;
            }
        }
    }
}

.ShopInformation {
    @extend %section-padding;
    text-align: center;
    margin: 0 auto;

    h2 {
        position: relative;
        
        &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            background: #999;
            bottom: 0;
            right: 130px;
        }
    }

    &__container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 768px) {
            display: block;
            img {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

    &__table {
        width: 45%;
        text-align: left;
        letter-spacing: 1.6px;
        line-height: 2;

        table {
            display: table;
            border-spacing: 16px;
            border-collapse: separate;
            border-color: gray;
        }

        tbody {
            vertical-align: inherit;
        }

        th,td {
            font-weight: normal;
            padding: 0;
        }

        th {
            width: 30%;
            border-right: 2px solid #a0a0a0;
        }

        @media (max-width: 768px) {
            width: 100%;
            letter-spacing: normal;
        }
    }
}

.contact {
    @extend %section-padding;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 450px;
    background-image: url(/assets/img/contact_us.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h2 {
        position: relative;
        
        &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            background: #999;
            bottom: 0;
            right: 80px;
        }
    }

    .cta__btn {
        position: relative;
        display: inline-block;
        width: 360px;
        background: #fff;
        border: 1px solid #a0a0a0;
        padding-left: 40px;
        height: 80px;
        line-height: 80px;
        letter-spacing: 2px;
        font-size: 20px;

        img {
            position: absolute;
            width: 30px;
            top: 24px;
            left: 70px;
        }

        a {
            text-decoration: none;
            color: #2B2B2B;
        }
    }
}

footer {
    padding: 15px 0;
    text-align: center;
    color: #2B2B2B;

    small {
        font-size: 14px;
        line-height: 1;
    }
}