.section, .hero__container {
  max-width: 960px;
  margin: 0 auto;
}

.hero, .concept, .work, .florist, .ShopInformation, .contact {
  padding: 100px 20%;
}

@media (max-width: 1280px) {
  .hero, .concept, .work, .florist, .ShopInformation, .contact {
    padding: 80px 10%;
  }
}

@media (max-width: 768px) {
  .hero, .concept, .work, .florist, .ShopInformation, .contact {
    padding: 40px 5%;
  }
}

.fd-in {
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

.fd-done {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: #2b2b2b;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 24px;
  color: #333;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  overflow: hidden;
  text-align: center;
  -webkit-transition: .8s;
  transition: .8s;
}

.section__title {
  font-size: 48px;
  margin-bottom: 32px;
  padding-bottom: 24px;
  letter-spacing: 2px;
  position: relative;
  color: #333;
}

@media (max-width: 768px) {
  .section__title {
    font-size: 24px;
  }
}

.section__title--description {
  font-size: 18px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

@media (max-width: 768px) {
  .section__title--description {
    font-size: 14px;
    padding-bottom: 0;
  }
}

.section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background-color: #2b2b2b;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.hero {
  position: relative;
  width: 100%;
  height: 620px;
  background: url(/assets/img/header.png) no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .hero {
    height: 250px;
    padding: 0;
  }
}

.hero__container {
  position: absolute;
  top: 40px;
  left: calc(50% - 960px / 2);
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .hero__container {
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 100;
  }
}

.hero__container .hero__left {
  font-size: 36px;
}

@media (max-width: 768px) {
  .hero__container .hero__left {
    font-size: 24px;
    margin-left: 5%;
  }
}

.hero__container .hero__right .hero__nav {
  display: none;
  width: 100%;
  height: 700px;
  position: fixed;
  background: #000000d8;
  top: 0;
  left: 0;
  z-index: 2;
}

.hero__container .hero__right .hero__nav__list {
  width: 100vw;
  height: 100%;
  display: block;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 768px) {
  .hero__container .hero__right .hero__nav__list {
    top: 52%;
  }
}

.hero__container .hero__right .hero__nav__item a {
  color: #fff;
  font-size: 24px;
  margin-right: 0;
  margin-bottom: 40px;
  letter-spacing: 2px;
  line-height: 64px;
  border-bottom: 2px dotted #fff;
}

@media (max-width: 768px) {
  .hero__container .hero__right .hero__nav__item a {
    font-size: 16px;
    line-height: 35px;
  }
}

.hero__container .hero__right .hamburger {
  position: relative;
  width: 32px;
  height: 64px;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hero__container .hero__right .hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 32px;
  height: 1px;
  background: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hero__container .hero__right .hamburger span:nth-of-type(1) {
  top: 50%;
}

.hero__container .hero__right .hamburger span:nth-of-type(2) {
  top: calc(50% - 8px);
}

.hero__container .hero__right .hamburger span:nth-of-type(3) {
  top: calc(50% + 8px);
}

.hero__container .hero__right .close {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.hero__container .hero__right .close span:nth-of-type(1) {
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.hero__container .hero__right .close span:nth-of-type(2) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

.hero__container .hero__right .close span:nth-of-type(3) {
  opacity: 0;
}

.hero__title h1 {
  padding-top: 120px;
  font-size: 120px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .hero__title h1 {
    padding-top: 60px;
    font-size: 64px;
  }
}

.hero__title p {
  word-spacing: 4px;
}

.hero__title p::before, .hero__title p::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}

.concept {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #fff), color-stop(30%, #ededed));
  background: linear-gradient(#fff 70%, #ededed 30%);
}

.concept img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 670px) {
  .concept img {
    max-width: 100vw;
    height: 200px;
  }
}

.work {
  text-align: center;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 670px) {
  .work__list {
    display: block;
    padding: 0;
  }
}

.work__item {
  text-align: left;
  line-height: 1.8;
  padding-bottom: 80px;
}

@media (max-width: 670px) {
  .work__item {
    padding-bottom: 0;
    margin-bottom: -250px;
  }
}

.work__item:nth-of-type(2) {
  margin-top: 120px;
}

.work__item:nth-of-type(3) {
  margin-top: -250px;
}

.work__item:nth-of-type(4) {
  margin-top: 35px;
}

.work__item img, .work__item p {
  width: 420px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .work__item img, .work__item p {
    width: 300px;
  }
}

@media (max-width: 670px) {
  .work__item:nth-of-type(2), .work__item:nth-of-type(3), .work__item:nth-of-type(4) {
    margin-top: 0;
  }
  .work__item img, .work__item p {
    width: 100%;
    height: 400px;
  }
}

.florist {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ededed), color-stop(60%, #fff));
  background: linear-gradient(#ededed 40%, #fff 60%);
}

.florist__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 670px) {
  .florist__list {
    display: block;
  }
}

.florist__item {
  margin: 0 auto;
  margin-right: 35px;
}

@media (max-width: 670px) {
  .florist__item {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.florist__item img {
  width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.florist__item p {
  width: 300px;
}

@media (max-width: 1024px) {
  .florist__item img, .florist__item p {
    width: 100%;
  }
}

.ShopInformation {
  width: 90%;
  margin: 0 auto;
}

.ShopInformation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .ShopInformation__container {
    display: block;
  }
}

.ShopInformation__container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.ShopInformation__table {
  width: 45%;
  text-align: left;
  letter-spacing: 1.6px;
  line-height: 2;
}

@media (max-width: 1024px) {
  .ShopInformation__table {
    width: 100%;
    letter-spacing: normal;
    line-height: 2;
    font-size: 3vw;
  }
}

.ShopInformation__table table {
  display: table;
  border-spacing: 16px;
  border-collapse: separate;
  border-color: #ccc;
}

.ShopInformation__table tbody {
  vertical-align: inherit;
}

.ShopInformation__table th, .ShopInformation__table td {
  font-weight: normal;
  padding: 0;
}

.ShopInformation__table th {
  width: 30%;
  border-right: 2px solid #a0a0a0;
}

.contact {
  width: 100%;
  height: 550px;
  background: url(/assets/img/contact_us.png) no-repeat center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 670px) {
  .contact {
    height: 250px;
  }
  .contact p {
    display: none;
  }
}

.contact .cta__btn {
  display: inline-block;
  width: 360px;
  background: #fff;
  border: 1px solid #a0a0a0;
  padding-left: 40px;
  height: 80px;
  line-height: 80px;
  letter-spacing: 2px;
  font-size: 20px;
  position: relative;
}

.contact .cta__btn::before, .contact .cta__btn::after {
  content: "";
  position: absolute;
  border-radius: 2px;
}

.contact .cta__btn::before {
  top: 30px;
  left: 85px;
  width: 30px;
  height: 20px;
  border: 1px solid #2b2b2b;
}

.contact .cta__btn::after {
  top: 21px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 670px) {
  .contact .cta__btn {
    width: 250px;
    height: 60px;
    line-height: 60px;
    padding-left: 45px;
  }
  .contact .cta__btn::before {
    top: 18px;
    left: 40px;
  }
  .contact .cta__btn::after {
    top: 9px;
    left: 45px;
  }
}

footer {
  padding: 15px 0;
  text-align: center;
  color: #2b2b2b;
}

footer small {
  font-size: 14px;
  line-height: 1;
}
/*# sourceMappingURL=style.css.map */